# vim:ft=gitconfig
[user]
	name = Conor McDermottroe
	email = ___EMAIL___
[color]
	ui = auto
[branch]
	autosetuprebase = always
[core]
	quotepath = false
	excludesfile = ~/.cvsignore
	editor = vim
[help]
	autocorrect = 1
[rerere]
	enabled = 1
