[submodule ".vim/bundle/matchindent.vim"]
	path = .vim/bundle/matchindent.vim
	url = git://github.com/conormcd/matchindent.vim.git
[submodule ".vim/bundle/mustache.vim"]
	path = .vim/bundle/mustache.vim
	url = git://github.com/juvenn/mustache.vim.git
[submodule ".vim/bundle/vim-background-make"]
	path = .vim/bundle/vim-background-make
	url = git://github.com/gfxmonk/vim-background-make.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "modules/git-wip"]
	path = modules/git-wip
	url = git://github.com/conormcd/git-wip.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "modules/vagrant-bash-completion"]
	path = modules/vagrant-bash-completion
	url = git://github.com/conormcd/vagrant-bash-completion.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
